.container
  / Portfolio Item Heading
  .row
    .col-lg-12
      %h1.page-header
        = @event.title
      %small Event Date
      %p
        = @event.date.to_time.strftime('%B %e')
        %br
        = @event.start_time.strftime("%I:%M%P") + ' - ' + @event.end_time.strftime("%I:%M%P")
  / /.row
  / Portfolio Item Row
  .row
    .col-md-8
      %img.img-responsive{:alt => "", :src => "http://placehold.it/750x500"}/
    .col-md-4
      %h3 Event Notes
      %p= @event.description
      %h3 Event Details
      %ul
        %li 
          %b Address: 
          = @event.address
        %li
          %b Team Lead: 
          %i Example Team Lead

  / /.row
  / Related Projects Row
  .row
    .col-lg-12
      %h3.page-header Brand Ambassadors working at this event
    .col-sm-3.col-xs-6
      %a{:href => "#"}
        %img.img-responsive.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
        %small Shift: <i>Start Time - End Time</i>
    .col-sm-3.col-xs-6
      %a{:href => "#"}
        %img.img-responsive.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
        %small Shift: <i>Start Time - End Time</i>
    .col-sm-3.col-xs-6
      %a{:href => "#"}
        %img.img-responsive.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
        %small Shift: <i>Start Time - End Time</i>
    .col-sm-3.col-xs-6
      %a{:href => "#"}
        %img.img-responsive.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
        %small Shift: <i>Start Time - End Time</i>