!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Radar'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Radar'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', defer: 'defer'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      %div#test
      %div#checkboxes
      %div#roles
      %div#yup
      = render 'layouts/messages'
      = yield
